<section class="col-md-6 offset-md-3">
  <form [formGroup]="loginForm" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" formControlName="email" data-toggle="tooltip" data-placement="auto" title="enter your email" />
      <app-field-error-display *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched"
        errorMessage="Veuillez entrer une adresse mail valide"></app-field-error-display>
    </div>
    <div class="form-group">
      <label for="mdp">Mot de Passe</label>
      <input type="password" [(ngModel)]="mdp" class="form-control" formControlName="mdp" />
      <app-field-error-display *ngIf="loginForm.controls['mdp'].invalid && loginForm.controls['mdp'].touched"
        errorMessage="Veuillez entrer une mot de passe valide"></app-field-error-display>
    </div>
    <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
  </form>
  <!-- <pre>{{loginForm.value | json}}</pre> -->
</section>
