<p-carousel [value]="articles" numVisible="1" styleClass="homeCarousel" circular="circular">
  <ng-template let-article pTemplate="item">
    <div class="ui-grid ui-grid-responsive content" [ngStyle]="{'background-image': 'url('+ article.image +')'}">
      <div class="ui-grid-row">
        <div class="ui-grid-col-10">
          <h4>{{article.title}}</h4>
        </div>
        <div class="ui-grid-col-2">
          <label>{{article.creationDateTime}}</label>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <p>{{article.summary}}</p>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
